.countIngredient {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #4c4cff;
  padding: 5px 10px;
  border-radius: 50%;
}

.priceInfo {
  display: flex;
  justify-self: center;
  align-self: center;
}

.ingredientName {
  height: 48px;
}

.ingredientCard {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 120px 24px 42px;
  row-gap: 4px;
  justify-content: center;
  align-content: center;
}

.ingredientCard * {
  justify-self: center;
}
.link {
  text-decoration: none;
  color: white;
}