.constructorBlock {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.list {
  list-style: none;
  padding-inline-start: 0;
  padding: 2px;
}

.constructorScroll {
  max-height: 470px;
  min-height: 250px;
  width: auto;
  overflow: scroll;
  overflow-x: hidden;
}

.flexBun {
  height: 80px;
  display: flex;
  justify-content: start;
}

.confirmOrder {
  display: flex;
  align-self: end;
  align-items: center;
}

.modalContainer {
  overflow: hidden;
}

.dropZone {
  padding: 0;
  border: 2px dashed rgb(89, 27, 139);
}

.buns {
  background-color: #1c1c21;
  margin-left: 32px;
  align-items: center;
}

.bottomBun {
  margin-top: 16px;
}
