.constructorBlock {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.list {
  list-style: none;
  padding-inline-start: 0;
}

.list li {
  margin-bottom: 16px;
}

.constructorScroll {
  height: 470px;
  width: 584px;
  overflow: scroll;
  overflow-x: hidden;
}
.constructorImage {
  width: 80px;
  height: 40px;
}

.flexBun {
  height: 80px;
  display: flex;
  justify-content: start;
}

.topBun {
  display: grid;
  grid-template-columns: 80px minmax(min-content, auto) auto 24px;
  margin-right: 16px;
  column-gap: 20px;
  align-items: center;
  background-color: #1c1c21;
  border-top-left-radius: 100px 100px;
  border-top-right-radius: 100px 100px;
  border-bottom-left-radius: 40px 40px;
  border-bottom-right-radius: 40px 40px;
}

.downBun {
  composes: topBun;
  border-top-left-radius: 40px 40px;
  border-top-right-radius: 40px 40px;
  border-bottom-left-radius: 100px 100px;
  border-bottom-right-radius: 100px 100px;
}

.priceInfo {
  display: flex;
  align-items: center;
}
.confirmOrder {
  display: flex;
  align-self: end;
  align-items: center;
}

.modalContainer {
  overflow: hidden;
}
