.modal {
  width: 720px;
  background-color: #1c1c21;
  position: fixed;
  border-radius: 40px;
  z-index: 800;
  top: 15%;
  left: 30%;
}

.modalHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.closeIcon {
  position: absolute;
  top: 35px;
  right: 30px;
}
button {
  background-color: transparent;
  border: transparent;
}
