.constructorLi {
  display: grid;
  grid-template-columns: 32px 536px;
  align-items: center;
  justify-content: start;
}

.ingredient {
  background-color: #1c1c21;
}
.ingredient span {
  margin-top: 3px;
}