/* .constructorImage {
  width: 80px;
  height: 40px;
}

.constructorPiece {
  height: 80px;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  background-color: #1c1c21;
  border-radius: 40px;
  column-gap: 20px;
}

.listLeftPart {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
  justify-content: start;
  
}

.listRightPart {
  composes: listLeftPart;
  justify-content: end;
}
.name {
  text-align: start;
}

.priceInfo {
  display: flex;
  align-items: center;
}
 
*/

.constructorLi {
  display: grid;
  grid-template-columns: 32px 536px;
  align-items: center;
  justify-content: start;
}

.ingredient {
  background-color: #1c1c21;
}
.ingredient span {
  margin-top: 3px;
}