.title {
  display: block;
}

.tabs {
  display: flex;
  flex-direction: row;
}

.wholeList {
  padding-right: 4px;
  height: 700px;
  overflow: scroll;
  overflow-x: hidden;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  list-style: none;
}

.modalContainer {
  overflow: hidden;
}
