.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container {
  color: white;
  background-color: #1c1c21;
  flex: 1;
  border-radius: 30px;
}
.date {
  color: #8585ad;
}
.noStyle {
  text-decoration: none;
  color: white;
}
.statusDone {
  color: #00cccc;
}
.statusNormal {
  color: white;
}
